[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
fastapi-cache2 = {extras = ["redis"], version = "*"}
aioredis = "*"

[dev-packages]

